
.clockBody {
    background-color: black;
    text-align: center;
}
.clockBody div{
    display: inline-block;
    font-size: 10vh;
    line-height: 20vh;
    background: black;
    color: white;
    padding: 30px;
    margin: 3px;
}